{# templates/admin/general_dashboard.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
			background-color: #f8f9fa;
		}

		.background-overlay::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("{{ asset('images/pharmacy-icon.jpg') }}");
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			opacity: 0.3;
			filter: blur(6px);
			z-index: -2;
		}

		.background-overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.dashboard-container {
			margin-top: 50px;
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			position: relative;
			z-index: 1;
		}

		.dashboard-card {
			margin: 20px 0;
			border-radius: 20px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.532);
		}

		.btn {
			margin: 10px;
			border-radius: 20px;
			background: #0839CF;
		}

		.nombre-pharmacies {
			font-family: "Comic Sans MS", cursive, sans-serif;
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.532);
			font-size: 40px;
		}

		.mb-4 {
			font-family: "Chalkduster", fantasy;
		}
		.row {
			margin: 0;
		}

		.d-flex {
			display: flex;
			flex-wrap: nowrap; /* Assure que les éléments ne passent pas à la ligne suivante */
			gap: 10px; /* Espacement entre les cartes */
		}

		.card {
			flex: 1; /* Assure que les cartes ont la même largeur */
		}

		.card-body {
			padding: 20px; /* Ajustez le padding selon vos besoins */
		}
	</style>
{% endblock %}

{% block body %}
	<div class="background-overlay"></div>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Profil
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="border-radius: 20px;">
							<li>
								<a class="dropdown-item" href="#">
									Bachar</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									bachar@example.com</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item text-danger" href="#">Déconnexion</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container dashboard-container">
		<h1 class="mb-4">Tableau de Bord - Admin Général</h1>

		<div class="row">
			<div class="d-flex justify-content-between">
				<div class="card dashboard-card" style="background: rgb(188, 238, 255); border-radius: 20px; flex: 1; margin-right: 10px;">
					<div class="card-body">
						<h5 class="card-title">Total Pharmacies</h5>
						<b>
							<strong>
								<h2 class="nombre-pharmacies">__ {{ pharmacies|length}} __</h2>
							</strong>
						</b>
					</div>
				</div>
				<div class="card dashboard-card" style="background: rgb(178, 218, 231); border-radius: 20px; flex: 1; margin-right: 10px;">
					<div class="card-body">
						<h5 class="card-title">Total Plannings</h5>
						<b>
							<strong>
								<h2 class="nombre-pharmacies">__ {{ planning|length}} __</h2>
							</strong>
						</b>
					</div>
				</div>
				<div class="card dashboard-card" style="background: rgb(188, 238, 255); border-radius: 20px; flex: 1;">
					<div class="card-body">
						<h5 class="card-title">Total Notifications</h5>
						<b>
							<strong>
								<h2 class="nombre-pharmacies">__ 5 __</h2>
							</strong>
						</b>
					</div>
				</div>
			</div>
		</div>


		<div class="row">

			<div class="col-md-4">
				<div class="card dashboard-card" style="border-radius: 20px;">
					<div class="card-body">
						<h5 class="card-title">Créer Comptes Pharmaciens</h5>
						<p class="card-text">Créer un nouveau compte pour un pharmacien.</p>
						<a href="{{ path('app_inscripComptepharma') }}" class="btn btn-primary" style="border-radius: 20px; background: #0839CF;">Créer Compte</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card dashboard-card" style="border-radius: 20px;">
					<div class="card-body">
						<h5 class="card-title">Gérer les Pharmacies</h5>
						<p class="card-text">Voir, modifier, bloquer ou supprimer les informations des pharmacies.</p>
						<a href="{{ path('app_gerepharmacie') }}" class="btn btn-primary" style="border-radius: 20px; background: #0839CF;">Gérer Pharmacies</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card dashboard-card" style="border-radius: 20px;">
					<div class="card-body">
						<h5 class="card-title">Créer Comptes d'ordre de pharmacie</h5>
						<p class="card-text">Créer un nouveau compte pour l'ordre de pharmacie.</p>
						<a href="{{ path('app_inscripordre') }}" class="btn btn-primary" style="border-radius: 20px; background: #0839CF;">Créer Compte</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card dashboard-card" style="border-radius: 20px;">
					<div class="card-body">
						<h5 class="card-title">Gérer l'ordre de pharmacie</h5>
						<p class="card-text">Voir, modifier,supprimer les informations d'ordre de pharmacie</p>
						<a href="{{ path('app_gererordre') }}" class="btn btn-primary" style="border-radius: 20px; background: #0839CF;">Gérer l'ordre</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card dashboard-card" style="border-radius: 20px; ">
					<div class="card-body">
						<h5 class="card-title">Voir et Gérer Planning de Garde</h5>
						<p class="card-text">Voir la liste des pharmacies et gérer leur planning de garde.</p>
						<a href="{{ path('app_voirplanning') }}" class="btn btn-primary" style="border-radius: 20px; background: #0839CF;">Voire & Gérer Plannings</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card dashboard-card" style="border-radius: 20px; position: absolute;">
					<div class="card-body">
						<h5 class="card-title">Créer Notification</h5>
						<p class="card-text">Envoyer des notifications aux utilisateurs.</p><br>
						<a href="{{ path('app_notifications') }}" class="btn btn-primary" style="border-radius: 20px; background: #0839CF;">Créer Notification</a>
						<a href="{{ path('app_gerernotifications') }}" class="btn btn-primary" style="border-radius: 20px; background: #2f84df;">Gérer Notification</a>
					</div>
				</div>
			</div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
	</div>
{% endblock %}
