{% extends 'base.html.twig' %}

{% block title %}Recherche Médicament - LocaPharma{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="container">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <header>
    <style> 
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

h1 {
    color: #0056b3;
    font-size: 30px;
}




.notifications img {
    width: 24px;
    height: 24px;
}

.pharmacy-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pharmacy-item {
    background-color: #fff;  
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
    margin-left: -30%; 
}

.pharmacy-item img {
    width: 70px;
    height: 70px;
}

.btn-disponible {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.btn-disponible:hover {
    background-color: #218838;
}

.nmPh {
    font-weight: 900;
    font-size: 19px;
    /* color: #0839CF; */
    flex-grow: 1;
    top: 18px;
    font-family: "Blippo", fantasy;
}
.nmMdc{
    margin-left: -119%;
    margin-top: 2%;
    font-size: 17px;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.nmMdcm{
    
    margin-top: 2%;
    font-size: 25px;
    color: #0839CF;
    font-family: "Comic Sans MS", cursive, sans-serif;  
     text-shadow: 0 5px 3px rgba(0, 0, 0, 0.366);
}


.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-nav a {
    color: #0056b3;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.nav-item {
    text-align: center;
    flex: 1;
}

.nav-item svg {
    display: block;
    margin: 0 auto 5px;
    text-align: center;
}

.nav-item span {
    display: block;
    font-size: 12px;
    color: #333;
}
#btn-insponible{
    background: red;
    font-size: 14px;
}


.blur-image-fixed {
    position: fixed;
    width: 95%;
    height: 90%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.19;
    filter: blur(8px);
}

.card-overlay-content {
    position: relative;
    z-index: 1;
}
.card-title{
     color: #0839CF;
      text-shadow: 0 5px 3px rgba(0, 0, 0, 0.366);
     font-family: "Comic Sans MS", cursive, sans-serif;  
   
   
    font-size: 30px;
}
    .card-text{
       

    }  
    footer{
    margin-left: -10%;
   position: absolute;
}
    
    </style>
        <img src="{{ asset('images/LocaPharma_color.png') }}" width="206" height="100" alt="Pharmacy Icon">
        <div class="search-bar">
               <main>
    <ul class="pharmacy-list">
        <li class="pharmacy-item">
       
             <span class="nmMdcm">La pharmacie de garde</span>           
           
        </li>
        <!-- Ajoutez d'autres médicaments de la même manière -->
    </ul>
</main>
        </div> 
     
        <div class="notifications">
            <i class="bi bi-bell"></i>
            <svg style="color: #0839CF;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
</svg>
        </div>
    </header>
 <main>          
        <div class="card mb-3" style="max-width: 5000px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 30px; margin-top: 5%;">
             <h5 style="text-align: center; padding: 5%; font-weight: bolder; " class="card-title">Pharmacie Yassine</h5>
                   <div class="card text-bg-dark card-overlay-content" style="max-width: 5000px; height: 200px; border-radius: 40px; margin-top: 3%;">
                       <img class="blur-image-fixed" src="{{ asset('images/pharmacy-icon.jpg') }}" alt="Medicament Icon">
                       <div class="card-img-overlay" style="text-align: center;">
                           
                           <strong><p class="card-text">Dès le 7/05/2024 jusqu'à 13/05/2024</p></stron>
                           <p class="card-text"><small>
                           <a href="#" >
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
</svg><br>
<span>Contactez la Pharmacie</span>
                           
                           
                           </small></p>
                       </div>
                   </div>  
 
</main>
    <footer>
        <nav class="bottom-nav">
            <a href="{{ path('app_index') }}" class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
                <span>Accueil</span>
            </a>
            <a href="#" class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 6a4 4 0 1 0-8 0 4 4 0 0 0 8 0ZM8 0a6 6 0 0 0-6 6c0 1.7.924 3.68 2.287 5.329.678.843 1.454 1.593 2.155 2.146.354.28.688.528.958.711.134.091.252.165.345.217l.066.036.017.01h.002l.001.001s0-.001.4.202a.25.25 0 0 0 .234 0s.4-.202.4-.202l.002-.001h.001l.017-.01.066-.036c.093-.052.211-.126.345-.217.27-.183.604-.43.958-.711.701-.553 1.477-1.303 2.155-2.146C13.076 9.68 14 7.7 14 6a6 6 0 0 0-6-6Z"/>
                </svg>
                <span>Pharmacie proche</span>
            </a>
            <a href="#" class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM7.5 3.5a.5.5 0 0 0-1 0V8a.5.5 0 0 0 .276.447l3.5 1.75a.5.5 0 0 0 .448-.894L7.5 7.742V3.5Z"/>
                </svg>
                <span>Pharmacie de garde</span>
            </a>
            <a href="{{ path('recherche_medicament') }}" class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001a1.007 1.007 0 0 0-.116.125l-2.45 2.45a1 1 0 0 0 1.415 1.415l2.45-2.45a1.007 1.007 0 0 0 .125-.116v-.001a6.5 6.5 0 0 0 1.398-1.397zm-6.321-5.027a5.5 5.5 0 1 1 7.778 7.778 5.5 5.5 0 0 1-7.778-7.778z"/>
                </svg>
                <span>Recherche de médicament</span>
            </a>
            <a href="#" class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <span>Profile</span>
            </a>
        </nav>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


{% endblock %}
